{% extends 'base.html.twig' %}

{% block title %}Contacte-moi !{% endblock %}

{% block body %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto vitae itaque commodi, quidem qui impedit corporis, optio, animi ipsam reiciendis alias. Corrupti ipsa nemo corporis eligendi consequuntur, quod molestias odio quisquam voluptates sit quaerat quae eaque perspiciatis enim, cumque ipsum!</p>
<p>Placeat labore fugit a velit adipisci possimus, facere ad fuga! Nostrum nesciunt obcaecati suscipit sapiente mollitia vitae alias dignissimos veritatis dolore laborum, quod, non assumenda voluptates natus. Magnam cum, facilis soluta reiciendis minima animi, vitae repellat, fugiat quidem fuga aut!</p>

{% endblock %}